# Приложение
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

# Инфраструктура
DATABASE_URL=postgresql+asyncpg://repo_health:repo_health@postgres:5432/repo_health
REDIS_URL=redis://redis:6379/0

# Интеграции
# Настоящие секреты храните только в локальном .env или в хранилище секретов среды развёртывания.
YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
SOURCECRAFT_TOKEN=
